
<div class="container">
 
 <div class="col-md-5" id=notEaten>
            <h3>Ready to Eat</h3>
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            <h4>{{this.id}}. {{this.burger_name}}
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="true">
                                    <button type="submit" class="btn btn-primary btn-lg">Devour it!</button>
                                </form>
                            </h4>
                        </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

        
        <div class="col-md-5" id=eaten>
            <h3>Devoured!</h3>

        <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>
                            <h4>{{this.id}} {{this.burger_name}}</h4>
                        </li>
                {{/if}}
                {{/each}}
            </ul>

    </div>
</div>


<div class="jumbotron">

        <iframe src="//https://media.giphy.com/media/dnrlK0zmXsIHm/giphy.gif" width="480" height="417" frameBorder="0" class="giphy-embed" allowFullScreen align="center"></iframe>

         <h1 style="color: red; text-align: center">Eat-Da-Burger!</h1>


    <form class="create-update-form" action="update/:id" method="POST">

    <div class="form-group">
        
        <textarea type="text" name="name" row="8" cols="40"></textarea>
    
    
    <button type="submit">Add to menu!</button>

<br>
<h5>Enter a burger you want to eat. Click the "Add to menu!" button</h5 align="center">
    </div>
</form>